# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform variables files
*.tfvars

# Terraform working directory
.terraform/

# Crash logs
crash.log

# Terraform lock file (optional, include if team consistency is not needed)
.terraform.lock.hcl

# Editor/OS-specific files
*.swp
.DS_Store
*.tmp
.idea/
.vscode/
